Repository swarooppatilx/scruter, pull requests merged in 2024-11, with the labels that each got.

#405 Introduces a new model named Listing to the Prisma schema, also the necessary backend actions with type safety and robust error handling to manage listings effectively
  scruter-nextjs/actions/seller/listing.tsx
  scruter-nextjs/app/(routes)/auth/components/otp-form.tsx
  scruter-nextjs/app/(routes)/page.tsx
  scruter-nextjs/app/api/auth/seller/signup/route.ts
  scruter-nextjs/components/NavBars&Footers/navbar-actions.tsx
  scruter-nextjs/package-lock.json
  scruter-nextjs/package.json
  scruter-nextjs/prisma/schema.prisma
Labels: gssoc-ext, level3, hacktoberfest-accepted

#389 enhanced privacy policy, help center, support pages
  views/help.ejs
  views/privacy-policy.ejs
  views/support.ejs
Labels: gssoc-ext, level3, hacktoberfest-accepted

#390 enhanced faq page like terms page
  views/faq.ejs
Labels: gssoc-ext, level3, hacktoberfest-accepted

#397 [Feat] improve the login page background #314
  public/login-pre.jpeg
  views/auth.ejs
Labels: gssoc-ext, level3, hacktoberfest-accepted

#403 [FEAT] Added Testimonial Carousel on Homepage with AutoScroll
  views/index.ejs
  views/partials/testimonial.ejs
Labels: gssoc-ext, level3, hacktoberfest-accepted

#408 dynamic search added
  views/partials/searchbar.ejs
Labels: gssoc-ext, level2, hacktoberfest-accepted, dependencies

#422 [Feat] drastically improve the contribution page #410
  public/contri-pre.png
  views/contributors.ejs
Labels: gssoc-ext, level3, hacktoberfest-accepted

#420 global context: multistep form, necessary file structure and protection with middleware for seller and structure of multistep form
  scruter-nextjs/app/(routes)/auth/components/otp-form.tsx
  scruter-nextjs/app/(routes)/auth/components/seller/login-form.tsx
  scruter-nextjs/app/seller/[sellerId]/components/formControl.tsx
  scruter-nextjs/app/seller/[sellerId]/components/listingDetails.tsx
  scruter-nextjs/app/seller/[sellerId]/components/main.tsx
  scruter-nextjs/app/seller/[sellerId]/components/setupListing.tsx
  scruter-nextjs/app/seller/[sellerId]/components/sidebar.tsx
  scruter-nextjs/app/seller/[sellerId]/components/sidebarConstants.tsx
  scruter-nextjs/app/seller/[sellerId]/page.tsx
  scruter-nextjs/app/seller/layout.tsx
  scruter-nextjs/context/GlobalListingProvider.tsx
  scruter-nextjs/lib/providers.tsx
  scruter-nextjs/middleware.ts
Labels: gssoc-ext, level3, hacktoberfest-accepted

#427 implementing seller nav and the user interface and functional features that streamline the listing creation process
  scruter-nextjs/app/(routes)/layout.tsx
  scruter-nextjs/app/layout.tsx
  scruter-nextjs/app/seller/[sellerId]/components/formControl.tsx
  scruter-nextjs/app/seller/[sellerId]/components/listingDetails.tsx
  scruter-nextjs/app/seller/[sellerId]/components/main.tsx
  scruter-nextjs/app/seller/[sellerId]/components/selectCategory.tsx
  scruter-nextjs/app/seller/[sellerId]/components/setupListing.tsx
  scruter-nextjs/app/seller/[sellerId]/components/sidebar.tsx
  scruter-nextjs/app/seller/[sellerId]/components/sidebarConstants.tsx
  scruter-nextjs/app/seller/[sellerId]/page.tsx
  scruter-nextjs/app/seller/layout.tsx
  scruter-nextjs/components/common/sellerNavBar.tsx
  scruter-nextjs/components/ui/dropdown-menu.tsx
  scruter-nextjs/context/GlobalListingProvider.tsx
  scruter-nextjs/package-lock.json
  scruter-nextjs/package.json
  scruter-nextjs/public/listingGuide.svg
  scruter-nextjs/tailwind.config.ts
Labels: gssoc-ext, level3, hacktoberfest-accepted

#437 Image Upload Functionality
  scruter-nextjs/.env.example
  scruter-nextjs/actions/seller/listing.tsx
  scruter-nextjs/app/seller/[sellerId]/components/main.tsx
  scruter-nextjs/app/seller/[sellerId]/components/selectCategory.tsx
  scruter-nextjs/app/seller/[sellerId]/components/selectImage.tsx
  scruter-nextjs/app/seller/[sellerId]/components/sidebarConstants.tsx
  scruter-nextjs/components/ui/imageUpload.tsx
  scruter-nextjs/context/GlobalListingProvider.tsx
  scruter-nextjs/middleware.ts
  scruter-nextjs/next.config.ts
  scruter-nextjs/package-lock.json
  scruter-nextjs/package.json
  scruter-nextjs/prisma/schema.prisma
Labels: gssoc-ext, level3, hacktoberfest-accepted

#449 [Migration] Added all Helpdesk pages (Help, FAQ, Contact Us, Support) to NextJS
  scruter-nextjs/app/(routes)/contactus/page.tsx
  scruter-nextjs/app/(routes)/faq/page.tsx
  scruter-nextjs/app/(routes)/help/page.tsx
  scruter-nextjs/app/(routes)/policy/page.tsx
  scruter-nextjs/app/(routes)/support/page.tsx
  scruter-nextjs/components/common/footer.tsx
Labels: gssoc-ext, level3, hacktoberfest-accepted

#452 Contact Us Page Implementation
  scruter-nextjs/actions/sendContactUsEmail.tsx
  scruter-nextjs/app/(routes)/ContactUs/components/contactUsForm.tsx
  scruter-nextjs/app/(routes)/ContactUs/page.tsx
  scruter-nextjs/components/ui/textarea.tsx
  scruter-nextjs/public/contactUs.svg
Labels: gssoc-ext, level3, hacktoberfest-accepted

#456 [Migration]: Added House, food & for sale pages to NextJS
  scruter-nextjs/app/(routes)/food/page.tsx
  scruter-nextjs/app/(routes)/for-sale/page.tsx
  scruter-nextjs/app/(routes)/house/page.tsx
  scruter-nextjs/components/common/main-nav.tsx
  scruter-nextjs/public/food.jpg
  scruter-nextjs/public/house.jpg
  scruter-nextjs/public/market.jpg
Labels: gssoc-ext, level3, hacktoberfest-accepted

#454 Fully Responsive Listings Page
  scruter-nextjs/actions/seller/listing.tsx
  scruter-nextjs/app/seller/[sellerId]/components/listingPage/listingCard.tsx
  scruter-nextjs/app/seller/[sellerId]/components/listingPage/listingPage.tsx
  scruter-nextjs/app/seller/[sellerId]/page.tsx
  scruter-nextjs/components/ui/button.tsx
  scruter-nextjs/components/ui/carousel.tsx
  scruter-nextjs/lib/nodemailerConfig.tsx
  scruter-nextjs/lib/sendEmail.ts
  scruter-nextjs/package-lock.json
  scruter-nextjs/package.json
Labels: gssoc-ext, level3, hacktoberfest-accepted

#446 add food price field in form
  views/edit.ejs
  views/form.ejs
Labels: gssoc-ext, level2, hacktoberfest-accepted

#444 added feedback form with backend
  app.js
  database.js
  views/help.ejs
  views/index.ejs
  views/support.ejs
Labels: gssoc-ext, level3, hacktoberfest-accepted

#468 Create listing page
  scruter-nextjs/app/(routes)/faq/page.tsx
  scruter-nextjs/app/seller/[sellerId]/components/listingPage/listingPage.tsx
  scruter-nextjs/app/seller/[sellerId]/createListing/components/postListingForm.tsx
  scruter-nextjs/app/seller/[sellerId]/createListing/page.tsx
  scruter-nextjs/app/seller/[sellerId]/page.tsx
  scruter-nextjs/components/ui/alertModal.tsx
  scruter-nextjs/components/ui/dialog.tsx
  scruter-nextjs/components/ui/heading.tsx
  scruter-nextjs/components/ui/modal.tsx
  scruter-nextjs/components/ui/separator.tsx
  scruter-nextjs/package-lock.json
  scruter-nextjs/package.json
Labels: gssoc-ext, level3, hacktoberfest-accepted

#470 Redesigned the Footer | Issue #450
  scruter-nextjs/components/common/footer.tsx
  scruter-nextjs/package.json
Labels: gssoc-ext, level2, hacktoberfest-accepted

#473 Redesign the SignIn and SignUp Pages (User Pages) | Issue #451
  scruter-nextjs/app/(routes)/auth/user/login/page.tsx
  scruter-nextjs/app/(routes)/auth/user/signup/page.tsx
Labels: gssoc-ext, level2, hacktoberfest-accepted

#485 Redesigned the SignIn and SignUp Pages for Sellor | Issue #474
  scruter-nextjs/app/(routes)/auth/seller/login/page.tsx
  scruter-nextjs/app/(routes)/auth/seller/signup/page.tsx
Labels: gssoc-ext, level2, hacktoberfest-accepted

#482 Fixed ui issue
  public/css/global.css
  views/auth.ejs
Labels: gssoc-ext, level1, hacktoberfest-accepted

#497 Added user profile page, with bookmarks
  scruter-nextjs/actions/user/userGET.tsx
  scruter-nextjs/app/(routes)/(footerPages)/about/page.tsx
  scruter-nextjs/app/(routes)/(footerPages)/contact/components/contactUsForm.tsx
  scruter-nextjs/app/(routes)/(footerPages)/contact/page.tsx
  scruter-nextjs/app/(routes)/(footerPages)/contributors/page.tsx
  scruter-nextjs/app/(routes)/(footerPages)/faq/page.tsx
  scruter-nextjs/app/(routes)/(footerPages)/help/page.tsx
  scruter-nextjs/app/(routes)/(footerPages)/policy/page.tsx
  scruter-nextjs/app/(routes)/(footerPages)/support/page.tsx
  scruter-nextjs/app/(routes)/(footerPages)/team/page.tsx
  scruter-nextjs/app/(routes)/(footerPages)/terms/page.tsx
  scruter-nextjs/app/(routes)/(mainNavPages)/[userId]/page.tsx
  scruter-nextjs/app/(routes)/(mainNavPages)/food/page.tsx
  scruter-nextjs/app/(routes)/(mainNavPages)/for-sale/page.tsx
  scruter-nextjs/app/(routes)/(mainNavPages)/house/page.tsx
  scruter-nextjs/components/common/navbar-actions.tsx
Labels: gssoc-ext, level3, hacktoberfest-accepted

#476 Contributor revamp
  scruter-nextjs/app/(routes)/(footerPages)/contributors/page.tsx
  scruter-nextjs/app/(routes)/(footerPages)/help/page.tsx
  scruter-nextjs/app/(routes)/contributors/components/contributorCard.tsx
  scruter-nextjs/app/api/testing/[sellerId]/[listingId]/route.ts
  scruter-nextjs/app/api/testing/[sellerId]/route.ts
  scruter-nextjs/app/seller/[sellerId]/[listingId]/page.tsx
  scruter-nextjs/app/seller/[sellerId]/page.tsx
  scruter-nextjs/components/common/footer.tsx
  scruter-nextjs/components/ui/spinner.tsx
  scruter-nextjs/next.config.ts
  scruter-nextjs/package-lock.json
  scruter-nextjs/package.json
  scruter-nextjs/public/contributorsPage/diamond_blue.png
  scruter-nextjs/public/contributorsPage/diamond_green.png
  scruter-nextjs/public/contributorsPage/glitter_blue_left.png
  scruter-nextjs/public/contributorsPage/glitter_blue_right.png
  scruter-nextjs/public/contributorsPage/glitter_green_left.png
  scruter-nextjs/public/contributorsPage/glitter_green_right.png
  scruter-nextjs/public/contributorsPage/left_blue.png
  scruter-nextjs/public/contributorsPage/left_green.png
  scruter-nextjs/public/contributorsPage/right_blue.png
  scruter-nextjs/public/contributorsPage/right_green.png
Labels: gssoc-ext, level3, hacktoberfest-accepted

#512 CRUD serveractions and api to test them for sellers
  scruter-nextjs/actions/seller/sellerDELETE.tsx
  scruter-nextjs/actions/seller/sellerGET.tsx
  scruter-nextjs/actions/seller/sellerrEDIT.tsx
  scruter-nextjs/app/api/testing/seller/[sellerId]/route.ts
  scruter-nextjs/app/api/testing/seller/route.ts
  scruter-nextjs/package-lock.json
  scruter-nextjs/package.json
Labels: gssoc-ext, level3, hacktoberfest-accepted

#511 Updated Readme.md to fix the contributing file link
  README.md
Labels: gssoc-ext, level1, hacktoberfest-accepted

#513 CRUD actions for user and API to test them
  scruter-nextjs/actions/user/userDELETE.tsx
  scruter-nextjs/actions/user/userEDIT.tsx
  scruter-nextjs/app/api/testing/user/[userId]/route.ts
  scruter-nextjs/app/api/testing/user/route.ts
Labels: gssoc-ext, level3, hacktoberfest-accepted

#514 Bookmark backend: schema, serveractions and testing API
  scruter-nextjs/actions/user/bookmarks/CREATE_bookmark.ts
  scruter-nextjs/actions/user/bookmarks/DELETE_bookmark.ts
  scruter-nextjs/actions/user/bookmarks/EXISTS_bookmark.ts
  scruter-nextjs/actions/user/bookmarks/GETBYUSER_bookmark.ts
  scruter-nextjs/app/api/testing/bookmark/[userId]/[listingId]/route.ts
  scruter-nextjs/app/api/testing/bookmark/[userId]/route.ts
  scruter-nextjs/prisma/schema.prisma
Labels: gssoc-ext, level3, hacktoberfest-accepted

#510 Change profile page ui
  public/css/infopage.css
  views/dashboard.ejs
Labels: gssoc-ext, level2, hacktoberfest-accepted

#501 [Feat] Buy Now to WhatsApp chat #424
  views/display.ejs
Labels: gssoc-ext, level3, hacktoberfest-accepted

#516 bookmarkFE: added global state and frontend modifications to implement the feature
  scruter-nextjs/actions/user/bookmarks/GETBYUSER_bookmark.ts
  scruter-nextjs/app/(routes)/(mainNavPages)/[userId]/page.tsx
  scruter-nextjs/app/(routes)/(mainNavPages)/food/page.tsx
  scruter-nextjs/app/(routes)/(mainNavPages)/for-sale/page.tsx
  scruter-nextjs/app/(routes)/(mainNavPages)/house/page.tsx
  scruter-nextjs/app/(routes)/layout.tsx
  scruter-nextjs/components/listingCardFE.tsx
  scruter-nextjs/context/UserBookmarkProvider.tsx
  scruter-nextjs/lib/providers.tsx
Labels: gssoc-ext, level3, hacktoberfest-accepted

#522 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: gssoc-ext, level1, hacktoberfest-accepted

#428 [BUG] the sorting is not working, check description #409
  views/display.ejs
  views/form.ejs
  views/partials/searchbar.ejs
Labels: gssoc-ext, level3, hacktoberfest-accepted

#528 Admin: schema , admin Role Type-in nextauth , loginPage , auth.ts modification
  scruter-nextjs/app/admin/[adminId]/page.tsx
  scruter-nextjs/app/admin/auth/components/login-form.tsx
  scruter-nextjs/app/admin/auth/page.tsx
  scruter-nextjs/lib/auth.ts
  scruter-nextjs/prisma/schema.prisma
  scruter-nextjs/types/next-auth.d.ts
Labels: gssoc-ext, level3, hacktoberfest-accepted

#530 Add mapWithPinDrop input component and it's lazy loader component and modify schema and serveractions to accomodate location functionality
  scruter-nextjs/actions/seller/listing.tsx
  scruter-nextjs/components/Maps/PinDropInput/LazyMapWithPin.tsx
  scruter-nextjs/components/Maps/PinDropInput/mapWithPin.tsx
  scruter-nextjs/components/Maps/PinDropInput/mapWithPinComp.tsx
  scruter-nextjs/package-lock.json
  scruter-nextjs/package.json
  scruter-nextjs/prisma/schema.prisma
Labels: gssoc-ext, level2, hacktoberfest-accepted

#529 Admin: serveraction and otp form
  scruter-nextjs/actions/Admin/admin-login.tsx
  scruter-nextjs/app/admin/auth/components/login-form.tsx
  scruter-nextjs/app/admin/auth/components/otp-form.tsx
  scruter-nextjs/app/admin/auth/page.tsx
  scruter-nextjs/public/adminLogin.png
Labels: gssoc-ext, level3, hacktoberfest-accepted

#531 Merge branch 'main' of https://github.com/AE-Hertz/scruter into branch5
  scruter-nextjs/app/(routes)/(footerPages)/terms/constant/constants.tsx
  scruter-nextjs/app/(routes)/(footerPages)/terms/page.tsx
  scruter-nextjs/app/globals.css
  scruter-nextjs/tailwind.config.ts
Labels: gssoc-ext, level2, hacktoberfest-accepted

#536 [Feat] implement sign in with google and other providers #502
  scruter-nextjs/.env.example
  scruter-nextjs/app/(routes)/auth/components/SocialLoginButton.tsx
  scruter-nextjs/app/(routes)/auth/components/firebaseConfig.tsx
  scruter-nextjs/app/(routes)/auth/seller/login/page.tsx
  scruter-nextjs/app/(routes)/auth/seller/signup/page.tsx
  scruter-nextjs/app/(routes)/auth/user/login/page.tsx
  scruter-nextjs/app/(routes)/auth/user/signup/page.tsx
  scruter-nextjs/package-lock.json
  scruter-nextjs/package.json
Labels: gssoc-ext, level3, hacktoberfest-accepted

#484 Add signup next-auth logic
  scruter-nextjs/app/api/auth/[...nextauth]/route.ts
  scruter-nextjs/app/api/auth/signup/route.ts
  scruter-nextjs/lib/authOptions.ts
  scruter-nextjs/package-lock.json
  scruter-nextjs/package.json
Labels: gssoc-ext, level3, hacktoberfest-accepted

#542 [Feat] improving UI design of team page #417
  views/partials/footer.ejs
  views/team.ejs
Labels: gssoc-ext, level2, hacktoberfest-accepted

#540 Chat fe seller listing page
  scruter-nextjs/app/(routes)/(mainNavPages)/[userId]/[sellerId]/page.tsx
  scruter-nextjs/public/ListingsBySeller.avif
  scruter-nextjs/public/data/seller.json
Labels: gssoc-ext, level2, hacktoberfest-accepted

#548 FEAT: optimized images #4
  README.md
  app.js
  public/anushka.jpg
  public/anushka.webp
  public/ashish.jpg
  public/ashish.webp
  public/background.jpg
  public/background.webp
  public/banner.png
  public/banner.webp
  public/banner2.png
  public/banner2.webp
  public/chinmay.jpg
  public/chinmay.webp
  public/chinmay2.jpg
  public/chinmay2.webp
  public/contri-pre.png
  public/contri-pre.webp
  public/food.jpg
  public/food.webp
  public/house.jpg
  public/house.webp
  public/hrikesh.jpg
  public/hrikesh.webp
  public/icon.png
  public/icon.webp
  public/login-pre.jpeg
  public/login-pre.webp
  public/manifest.json
  public/market.jpg
  public/market.webp
  public/omkar.jpg
  public/omkar.webp
  public/qr.png
  public/qr.webp
  public/screenshot.png
  public/screenshot.webp
  public/swaroop.jpg
  public/swaroop.webp
  uploads/index.html
  views/404.ejs
  views/auth.ejs
  views/contributors.ejs
  views/index.ejs
  views/partials/head.ejs
  views/partials/navbar.ejs
  views/team.ejs
Labels: gssoc-ext, level2, hacktoberfest-accepted

#545 Update dashboard.ejs (UI Enhancement)
  views/dashboard.ejs
Labels: gssoc-ext, level3, hacktoberfest-accepted

#547 FEAT: Enhancing Developer Experience #119
  app.js
  eslint.config.mjs
  package-lock.json
  package.json
  webpack.config.js
Labels: gssoc-ext, level3, hacktoberfest-accepted

#546 Add Admin Dashboard Page with Metrics and Recent Sales
  scruter-nextjs/app/admin/[adminId]/components/overview.tsx
  scruter-nextjs/app/admin/[adminId]/components/recentSales.tsx
  scruter-nextjs/app/admin/[adminId]/page.tsx
  scruter-nextjs/app/admin/auth/components/otp-form.tsx
  scruter-nextjs/components/ui/avatar.tsx
  scruter-nextjs/lib/auth.ts
  scruter-nextjs/package-lock.json
  scruter-nextjs/package.json
Labels: gssoc-ext, level3, hacktoberfest-accepted

#550 ChatBot Integrated
  scruter-nextjs/app/(routes)/page.tsx
  scruter-nextjs/components/chatbot/chatbot.tsx
  scruter-nextjs/components/chatbot/chatbotPage.tsx
  scruter-nextjs/components/chatbot/index.js
  scruter-nextjs/components/chatbot/steps.ts
  scruter-nextjs/components/chatbot/styles.js
  scruter-nextjs/package-lock.json
  scruter-nextjs/package.json
  scruter-nextjs/types/react-simple-chatbot.d.ts
Labels: gssoc-ext, level3, hacktoberfest-accepted

#551 Integrating map
  scruter-nextjs/app/(routes)/(mainNavPages)/food/page.tsx
  scruter-nextjs/app/seller/[sellerId]/components/main.tsx
  scruter-nextjs/app/seller/[sellerId]/components/mapLocationForm.tsx
  scruter-nextjs/app/seller/[sellerId]/components/sidebarConstants.tsx
  scruter-nextjs/context/GlobalListingProvider.tsx
  scruter-nextjs/package-lock.json
  scruter-nextjs/package.json
  scruter-nextjs/prisma/schema.prisma
Labels: gssoc-ext, level2, hacktoberfest-accepted

#552 [BUG] Dark mode UI #344
  views/partials/head.ejs
  views/partials/navbar.ejs
Labels: gssoc-ext, level2, hacktoberfest-accepted

#553 fixed scroll to the top
  views/partials/head.ejs
Labels: gssoc-ext, level1, hacktoberfest-accepted
